<div class="container">
  <h1>
    Заказ дропшиппинг
  </h1>


<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Прізвище *</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">Ім'я *</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="family_name" type="text" class="validate">
        <label for="family_name">По батькові *</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="phone" type="text" class="validate">
        <label for="phone">Телефон *</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select id="area" materialize="material_select" [materializeSelectOptions]="areas">
          <!--<option value="" disabled selected></option>-->
          <option *ngFor="let a of areas" [value]="a.Ref">{{a.Description}}</option>
        </select>
        <label for="area">Область</label>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="input-field col s6">-->
        <!--<select id="city" materialize="material_select" [materializeSelectOptions]="cities">-->
          <!--&lt;!&ndash;<option value="" disabled selected></option>&ndash;&gt;-->
          <!--<option *ngFor="let a of cities" [value]="a.Ref">{{a.Description}}</option>-->
        <!--</select>-->
        <!--<label for="area">Область</label>-->
      <!--</div>-->
    <!--</div>-->



  </form>
</div>
</div>
